html {
    /* better not set a font-size here, so user can change it in browser */
    /* font-size: 16px; */
    /*document level sized in px */
}
body {
    background: #fff;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Lato', sans-serif; */


    /* Ventana Azul - color.adobe.com
    https://color.adobe.com/nl/Ventana-Azul-color-theme-2159606/*/
    color: #F2385a;
    color: #f5a503;
    color: #e9f1df;
    color: #4ad9d9;
    color: #36B1BF;
    /* 2D95A1 darker version */
    background-color: #e9f1df;
    color: #11393D;
}

li {
    list-style: none;
}
.article {
    font-size: 1.2rem;  /* module size sized in rems */
}
a {
    color: #11393D;
}
a:hover {
    color: #36B1BF;
}
h1, h2, h3, h4, h5, h6 {
       font-family: 'Karla', sans-serif;
       font-family: 'Source Sans Pro', sans-serif;
       font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */


    /* text-transform: uppercase; */
/*
    line-height: 1.1; */

}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #36B1BF;
}

.underline{
   display: inline-block;
   padding-bottom: 0.3rem;
   border-bottom: 0.2rem solid #36B1BF;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
h3 {
    font-weight: 700;
}
@media print, screen and (min-width: 40em) {
    h1, .h1 {
      font-size: 4rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
}


/* ===========================================  title section =====================================  */
.sticky{
    background-color: #36B1BF;;
}
.title-bar, .top-bar {
    background-color: #fff;
    background-color: #36B1BF;
    /* background-color:rgba(255, 255, 166, 0.45); */
    /* backgrond-uimage: linear-gradient(250deg, #ffffa6 0%, #fff 100%); */
     /* 010 Winter Neva */
     /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
     /* 161 Salt Mountain */
     /* background-image: linear-gradient(-90deg, #FFFEFF 0%, #D7FFFE 100%); */
     /* 162 Perfect White */
     /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    /* 163 Fresh Oasis */
    /* background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%); */

    /* background-blend-mode: multiply; */
    /* font-family: 'Open Sans', sans-serif; */
    /* text-transform: uppercase; */
    padding: 0.3rem;
    z-index: 999;
}
.title-bar, .title-bar a {
    color: #fff;
    font-weight: 400;
}

.top-bar ul {
    background-color: transparent;

}

.dropdown.menu .logo a {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;


    /* font-family: 'Mountains of Christmas', cursive; */

    /* font-family: 'Teko', sans-serif; */

    /* font-family: 'Lobster Two', cursive; */

    /* font-family: 'Share Tech', sans-serif; */

    /* font-family: 'Geo', sans-serif; */

    /* font-family: 'Englebert', sans-serif; */


    font-weight: 700;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 0.01em;
    /* line-height: 1; */
}

.dropdown.menu li {
    padding: 0 0.7rem;
}
.dropdown.menu a {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* line-height: 1; */
    padding: 0.7rem 0;
    border-bottom: 0.4rem solid transparent;
    /* vertical-align: text-bottom; */
}
.dropdown.menu li:first-child a {
    /* border-top: 0.15rem solid #ffffa6; */
    margin-right: 5rem;
}
.dropdown.menu li {
    margin-right: 2rem;
}
.dropdown.menu a:hover{
    border-bottom: 0.2rem solid #4ad9d9;
    color: white;
}
.dropdown.menu a:visited {
    color: #11393D;
}

/* .dropdown.menu .name a {
    border-bottom: 0.2rem solid transparent;

} */
.bold{
    font-weight: 600;
    /* font-style: italic; */
}
.regular {
    font-weight: 400;
}
.italic {
    font-style: italic;
}
.extrabold {
    font-weight: 800;
}
.name .extrabold {
    font-weight: 700;
}


/* responsive Sticky Menu  */

@media screen and (max-width: 39.9375em) {
    .no-js .top-bar {
      display: none;
    }
  }

  @media print, screen and (min-width: 40em) {
    .no-js .title-bar {
      display: none;
    }
  }

  [data-sticky] {
    width: 100%;
  }

  .sticky-container {
    z-index: 999;
  }

  /* end Responsive Sticky Menu  */

  .menu-icon::after {
      background: #000;
      box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  }
/* end navigation */
.service, .tagline {
    text-align: center;

}

.hero-container{
    height: 61.8vh;
    margin-top: 1.5rem;
    }

    .hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        max-width: none;
    }

.tagline {
    margin-top: -7.5rem;
    padding: 1rem 0 ;
    z-index: 100;
    position: relative;
}
.tagline h1 {
    margin-bottom: 2rem;
    color: #F2385a;
    text-decoration: underline;
    font-weight: 300;
    line-height: 1;
}
.tagline h1 span {
    color: #36B1BF;
    color: #fff;
    color: #4ad9d9;

}
.tagline h1 span span {
    font-weight: 500;
    /* color: white; */


}
.blue {
    color: #36B1BF;
}
.tagline h2 {
    margin-top: 3rem;
   font-weight: 400;
   font-size: 1.5rem;
   color: #11393D;
   line-height: 1.1;
}
.tagline h2:before,
.tagline h2:after,
footer h4:before,
footer h4:after {
    position: absolute;
    content: "";
    /* bottom: 0rem; */
    /* left: 0;
    right: 0; */
    /* margin: 0 auto; */
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #4ad9d9;
}
.tagline h2:before,
footer h4:before {
    bottom: 2rem;
    margin: -1.5rem 4rem;
}
.tagline h2:after,
footer h4:after {
    bottom: 5rem;
    margin: 0 1rem;
}
footer h4:before {
    bottom:18rem;
    margin: -1.5rem 4rem;
}
footer h4:after {
    bottom: 15rem;
    margin: 0 1rem;
}

.service {
    background-color: #bdf271;
    padding: 1rem 0.5rem;
}
.service h3 {
    margin-bottom: 2rem;
    position: relative;
}
.service h3:after {
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 5rem;
    height: 0.4rem;
    background: #fff;
}

@media print, screen and (min-width: 40em)  {
    .intro {
        padding: 4rem 0;
    }
    .tagline {
        margin-top: -6rem;
    }

    .tagline h1 {
        line-height: 0.9;
        margin-bottom: 2rem;
        font-size: 4rem;
    }
    .tagline h2:before {
        bottom: 2rem;
        margin: -2rem 2rem;
    }
    .tagline h2:after {
        bottom: 3rem;
        margin: 0 1rem;
        /* right: -10px; */
    }

    .service {
        padding: 3rem 0.5rem;
    }
}

.big-image {
    margin: 0;
    padding: 0.5em 0 0 0;
    color: #fff;
    transition: all 0.5s ease;
    /* transition-delay: 0.5s; */
}
/*
.bottom-content-section {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}
.bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
} */
.button {
    background-color: #f5a503;
}
.button:hover {
    background-color: #36B1BF;
}






  /* masonry type grid layout */
.portfolio {
    margin-top: 3rem;
    background-color: #17244C;

}

.masonry-css {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .masonry-css-item {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    margin-bottom: 0rem;
    position: relative;
    width: 100%;
    height: 100%;

    padding:0 0 1rem 0;
  }

  .masonry-css-item .inner {

    position: absolute;
    padding: 20px 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #f5a503;
    background-color: #1D1D1B;
    width: 100%;
    opacity: 0;
    transition: 400ms;
    text-align: center;
}
.masonry-css-item:hover .inner {
    opacity: 1;

}
.masonry-css-item .inner .helper {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
}
.masonry-css-item .inner .info {
    display: inline-block;
max-width: 95%;
max-height: 100%;
width: auto;
height: auto;
vertical-align: middle;
text-align: center;
}

/* vervolgpagina */
.project{
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.project .tekst {
    text-align: center;
    color: #17244C;
    margin-top: 1rem;
}

.project-controls {
    text-align: center;
}
a.next-project, a.previous-project, a.close-project {
    display: block;
    padding: 1rem;
    text-align: center;
    margin: 1.5rem 0 0 0;
    max-width: 15rem;
    width: 70%;

    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: inline-block;

}



@media screen and (min-width: 40em) {
    .toepassing {
        background-color: rgb(57, 36, 158);
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 99999;
    }
    .toepassing ul {
        margin: 0.5rem auto 0;
        text-align: center;
    }
    .project {
        margin-top: 4rem;
        padding-bottom: 3rem;
    }
    .image-container {
        height: 61.8vh;
    }
    .image-container img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height:61.8vh;
        /* border: 0.8rem solid white; */
        /* width: auto;
        height: auto;
        vertical-align: middle;
        margin-left: -5px; */
    }
    .image-controls {
        margin: 1rem 0 0;
        text-align: center;
    }
    .image-controls ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .image-controls ul li {
        text-indent: -100000px;
        float: left;
        margin-right: 1.5rem;
        list-style: none;
    }
    .image-controls ul li a {
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        opacity: 0.5;
    }
    .image-controls ul li a.selected,
    .image-controls ul li a:hover {
        opacity: 1;
    }

    .project .tekst {
        text-align: center;
        color: #fff;
    }
    a.previous-project,
    a.next-project,
    a.close-project {
        position: absolute;
    }
    a.button.next-project,
    a.button.previous-project {
        border: 0.15rem solid #f5a503;
        background: transparent;
    }
    a.button.next-example {
        display: inline-block;
        margin: 0 auto;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: rgba(255,255,255, 0.5);

    }
    a.previous-project {
        left: 6px;
        bottom: 15px;
        z-index: 98;
        /* background: url("../img/ui.png") -106px 0px no-repeat; */
    }
    a.next-project {
        right: 7px;
        bottom: 15px;
        z-index: 98;
        /* background: url("../img/ui.png") -159px 0px no-repeat; */
    }
    a.close-project {
        width: 3rem;
        height: 3rem;
       color: #fff;
        right: 1rem;
        top: 1rem;
        z-index: 98;
        background: url("../img/ui.png") -53px 0px no-repeat;

        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        padding: none;
        margin: 0;

        border: none;
        text-indent: -100000px;

        /* width: 50px;
        height: 50px; */
    }
}



/* oorspronkelijke code */
#project_loader, #project_loader_before, #project_loader_after {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
#project {
    margin-top: 80px;
    padding-bottom: 50px;
}
#project .project_title {

    position: relative;
    width: 100%;
    text-align: center;
}
.project_media_container {
    width: 100%;
}
.media_pager {
    /* display: none; */
    position: fixed;
    bottom: 25px;
    z-index: 98;
    width: 100%;
    text-align: center;
}
.project_controls {
    margin: 0 15px;
}
a.next_project, a.previous_project, a.close_project, a.previous_media, a.next_media, a.show_project_info {

    display: block;
    padding: 15px;
    text-align: center;
    padding: 6px 10px 4px 12px;
    margin: 20px 0 0 0;
    max-width: 360px;
    width: 100%;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    transition: background 0.4s ease;
    background-color: #fff;
    border: #1D1D1B 2px solid;
    outline: none;
    moz-outline: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #1D1D1B;
    display: inline-block;

}

@media screen and (min-width: 40em) {
    #project .project_title {

        width: auto;
        text-align: center;
        position: absolute;
        top: 15px;
        width: 100%;
        padding-bottom: 0;
        z-index: 97;

    }
    .project_media_container {

        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 25px 25px 25px 25px;
        z-index: 1;
        text-align: center;
    }
    #project .project_description {

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 99;
    }
    .project_media_container .inner {
        display: block;
        margin: auto;
        position: relative;
        top: 0;
        padding-top: 100px;
        padding-bottom: 65px;
        height: 100%;
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }
    .project_media_container img {
        display: inline-block;
        margin: auto;
            margin-left: auto;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        vertical-align: middle;
        margin-left: -5px;
    }
    .media_pager {
        display: block;
    }
    .media_pager ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .media_pager ul li {
        text-indent: -100000px;
        float: left;
        margin-right: 15px;
        list-style: none;
    }
    .media_pager ul li a {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background-color: #fff;
        opacity: 0.5;
    }
    .media_pager ul li a.selected,
    .media_pager ul li a:hover {
        opacity: 1;
    }
    .project_controls {
        /* position: relative; */
        margin: 0;
    }
    a.next_project, a.previous_project, a.close_project, a.previous_media, a.next_media, a.show_project_info {

        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        padding: none;
        margin: 0;
        color: #fff;
        position: absolute;
        border: none;
        text-indent: -100000px;
        display: block;
        width: 50px;
        height: 50px;

    }
    a.previous_project {
        left: 6px;
        bottom: 15px;
        z-index: 98;
        background: url("../img/ui.png") -106px 0px no-repeat;
    }
    a.next_project {
        right: 7px;
        bottom: 15px;
        z-index: 98;
        background: url("../img/ui.png") -159px 0px no-repeat;
    }
    a.close_project {
        display: block;
        right: 10px;
        top: 15px;
        z-index: 98;
        background: url("../img/ui.png") -53px 0px no-repeat;
    }
}
/* eind oorspronkelijke code */


  @media screen and (min-width: 25em) {
    .masonry-css {
      -webkit-column-count: 1;
              column-count: 1;
    }
  }

  @media screen and (min-width: 37.5em) {
    .masonry-css {
      -webkit-column-count:2;
              column-count: 2;
    }
    .masonry-css-item {

        padding: 1rem;
      }


  }

  @media screen and (min-width: 50em) {
    .masonry-css {
      -webkit-column-count: 2;
              column-count:2;
    }
  }

  /* @media screen and (min-width: 68.75em) {
    .masonry-css {
      -webkit-column-count: 5;
              column-count: 5;
    }
  } */




  /* end masonry type grid layout */


  /* marketing-site footer */
footer > div {
    padding: 1rem;
}
footer i {
    color: white;
}
.footer-column {
    position: relative;
}
.marketing-site-footer {
    background: #36B1BF;
    color: #white;
    padding: 2rem 0 0;
    margin-top: 3rem;
    width: 100%;
  }

  .marketing-site-footer .marketing-site-footer-menu-social a {
    color: #fefefe;
  }

  .marketing-site-footer .cell {
    margin-bottom: 30px;
  }

  .marketing-site-footer > .row {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 39.9375em) {
    .marketing-site-footer .cell {
      margin-bottom: 2rem;
    }
  }

  .marketing-site-footer-name {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .marketing-site-footer-title {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  .marketing-site-footer-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }

  .marketing-site-footer-block .fa {
    font-size: 2rem;
    color: #020304;
  }

  .marketing-site-footer-block p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }

  .marketing-site-footer-bottom {
    background: #4ad9d9;
    padding: 1rem;
  }

  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0;
  }

  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: #8aa0ae;
  }

  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }

  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
      text-align: center;
    }
  }

  /* end marketing-site footer  */