html {
    /* better not set a font-size here, so user can change it in browser */
    /* font-size: 16px; */
    /*document level sized in px */
}
body {
    background: #fff;

    /* color: #020d53; */
    font-family: 'Open Sans', sans-serif;

}

li {
    list-style: none;
}
.article {
    font-size: 1.2rem;  /* module size sized in rems */
}
p {
    /* font-size: 0.8em;   */
    /* actual text element sized in ems */
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 1.1;

}
h1 {
    font-size: 3rem;
    font-weight: 500;
}
h2 {
    /* font-size: 2rem; */
}
h3 {
    font-weight: 700;
}
@media print, screen and (min-width: 40em) {
    h1, .h1 {
      font-size: 4rem;
    }
    h2, .h2 {
        font-size: 3rem;
    }
}

/* ===========================================  title section =====================================  */
.title-bar, .top-bar
 {

    /* flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; */
    background-color: #fff;

    /* background-blend-mode: multiply; */
    font-family: 'Oswald', sans-serif;
    /* text-transform: uppercase; */
    padding: 0.3rem;

}
.title-bar {
    color: #000;
}

/* responsive Sticky Menu  */

@media screen and (max-width: 39.9375em) {
    .no-js .top-bar {
      display: none;
    }
  }

  @media print, screen and (min-width: 40em) {
    .no-js .title-bar {
      display: none;
    }
  }

  [data-sticky] {
    width: 100%;
  }

  .sticky-container {
    z-index: 5;
  }

  /* end Responsive Sticky Menu  */

  .menu-icon::after {
      background: #000;
      box-shadow: 0 7px 0 #000, 0 14px 0 #000;
  }


/* end navigation */
.intro, .service {
    text-align: center;
    padding: 4rem 0 0 0;
}
.big-image {
    margin: 0;
    padding: 0.5em 0 0 0;
    color: #fff;
    transition: all 0.5s ease;
    /* transition-delay: 0.5s; */
}

.bottom-content-section {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
  }

  .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }


  /* clean hero slider */

.clean-hero-slider .orbit-caption {
    width: auto;
    height: auto;
    background: #0a0a0a;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.6);
      text-align: left;
      width: 70%;
      right: 0;
      padding: 1rem 2rem;
    }
  }

  @media screen and (min-width: 75em) {
    .clean-hero-slider .orbit-caption {
      padding-right: 10%;
    }
  }

  @media screen and (min-width: 90em) {
    .clean-hero-slider .orbit-caption {
      padding-right: 20%;
    }
  }

  .clean-hero-slider .orbit-caption p {
    font-size: 0.9rem;
    line-height: 1.25;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption p {
      font-size: 1.1rem;
    }
  }

  .clean-hero-slider .orbit-caption h3 {
    color: #ffae00;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-caption h3 {
      font-size: 2.5rem;
      font-weight: normal;
    }
  }

  .clean-hero-slider .orbit-slide {
    padding-bottom: 40%;
    background: #0a0a0a;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-slide {
      padding-bottom: 0;
    }
  }

  .clean-hero-slider .orbit-controls button {
    background: #ffae00;
    padding: 1rem 0.5rem;
  }

  .clean-hero-slider .orbit-controls button:hover {
    background: #fefefe;
    color: #0a0a0a;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-controls .orbit-previous {
      left: auto;
      right: 2.4rem;
    }
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-controls .orbit-next {
      right: 0.5rem;
    }
  }

  .clean-hero-slider .orbit-bullets {
    display: none;
  }

  @media print, screen and (min-width: 40em) {
    .clean-hero-slider .orbit-bullets {
      display: block;
      margin-bottom: 0;
      margin-top: -3rem;
      background: none;
    }
  }

  .clean-hero-slider .orbit-bullets button {
    width: 3rem;
    height: 0.4rem;
    border-radius: 0;
    background-color: #fefefe;
  }

  .clean-hero-slider .orbit-bullets button.is-active {
    background-color: #ffae00;
  }

  .clean-hero-slider ul.orbit-container {
    height: auto !important;
  }

  .clean-hero-slider li.orbit-slide {
    max-height: none !important;
  }

  /* end clean hero slider */